<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.CarDao">
<!--    选择第一辆空闲的车-->
  <select id="selectFirstAvailCar" resultType="com.po.Car">
      select * from vehicle where car_state='空闲中' limit 1
  </select>
<!--    保存车辆请求到数据库-->
    <insert id="saveCarReq" parameterType="com.model.CarRequest">
        insert into car_send_record(dest_x,dest_y,surveyor_id,licence_plate,request_state)
        values(#{destX},#{destY},#{surveyorId},#{licencePlate},'审核中')
    </insert>
<!--    按查勘员id查勘是否已有派车请求-->
    <select id="selectCarReqBySurId" parameterType="java.lang.String" resultType="com.model.CarRequest">
        select * from car_send_record where surveyor_id=#{id} and request_state in('审核中','工作中') limit 1
    </select>
<!--    根据派车请求及调用该方法的时间自动生成一条车辆使用记录并存入数据库-->
    <update id="saveCarUseRecordByCarReq" parameterType="com.model.CarReturn">
        update car_send_record set back_time=#{backTime},request_state='已归还' where id=#{id}
    </update>
<!--    查询查勘车辆使用记录-->
    <select id="selectCarUseRecordListBySurId" parameterType="java.lang.String" resultType="com.po.CarSendRecord">
        select * from car_send_record where surveyor_id=#{id} and request_state='已归还'
    </select>
    <!--    按查勘员id查询工作中但未归还的车辆-->
    <select id="selectUnReturnCarBySurId" parameterType="java.lang.String" resultType="com.model.CarRequest">
        select * from car_send_record where surveyor_id=#{id} and request_state='工作中'
    </select>

</mapper>