<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserDao">

    <!--    按登录信息查找管理员-->
    <select id="selectAdminByLoginInfo" parameterType="com.po.Admin" resultType="com.po.Admin">
        select *
        from 'admin'
        where id=#{id}
          and password=#{password}
    </select>
    <!--    按登录信息查找行政员-->
    <select id="selectManagerByLoginInfo" parameterType="com.po.Manager" resultType="com.po.Manager">
        select *
        from manager
        where id=#{id}
          and password=#{password}
    </select>
    <!--    按登录信息查找后勤人员-->
    <select id="selectLogisticsByLoginInfo" parameterType="com.po.Logistics" resultType="com.po.Logistics">
        select *
        from logistics
        where id=#{id}
          and password=#{password}
    </select>
    <!--    按登录信息查找查勘员-->
    <select id="selectSurveyorByLoginInfo" parameterType="com.po.Surveyor" resultType="com.po.Surveyor">
        select *
        from surveyor
        where id=#{id}
          and password=#{password}
    </select>

</mapper>