<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ViolationDao">
<!--    按id查找所有违章记录-->
<select id="selectViolationByPersonId" parameterType="java.lang.String" resultType="com.po.Violation">
          select * from violation_record where person_id=#{id}
</select>
<!--    将提交的材料存入数据库并修改处理状态:未处理->处理中-->
<update id="updateMaterialAndStateById" parameterType="com.po.Violation">
    update violation_record set violation_state='处理中',do_material=#{doMaterial} where id=#{id}
</update>
<!-- 按相关人员id查找所有未处理/处理中违章   -->
    <select id="selectUnfinishedViolationByPersonId" parameterType="java.lang.String" resultType="com.po.Violation">
        select * from violation_record where person_id=#{id} and violation_state!='已处理'
    </select>
</mapper>