<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查勘车辆管理系统</title>
    <link rel="icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link href="resource/css/bootstrap.min.css" rel="stylesheet">
    <link href="resource/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="resource/css/style.min.css" rel="stylesheet">
    <script type="text/javascript" src="resource/js/jquery.min.js"></script>
    <script type="text/javascript" src="resource/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="resource/js/perfect-scrollbar.min.js"></script>
    <script type="text/javascript" src="resource/js/main.min.js"></script>
    <!--    vue-->
    <script type="text/javascript" src="resource/js/vue.min.js"></script>

    <style rel="stylesheet">
        li a {
            text-align: left !important;
        }

        #lyear-aside-toggler {
            display: inline-block;
            position: relative;
            top: 7px;
            margin-left: 20px;
        }

        #topbar-right {
            width: 200px;
            display: inline-block;
            float: right;
            margin-top: 8px;
        }
        main{
            padding-bottom: 200px;
        }
    </style>
</head>
<body>
<div id="vue-tpl">
    <!--左侧导航-->
    <aside class="lyear-layout-sidebar">
        <!--logo-->
        <div id="logo" class="sidebar-header">
            <a href="index.html">
                <p style="font-size: large;margin-top: 20px;margin-bottom: 20px;
        font-weight: bolder;font-family: '圆体'">查勘车辆管理系统</p>
            </a>
            <!--  导航栏  -->
            <div class="lyear-layout-sidebar-scroll">
                <nav class="sidebar-main">
                    <ul class="nav nav-drawer">
                        <li class="nav-item">
                            <a href="index.html">
                                <i class="mdi mdi-home"></i>
                                <span>首页</span>
                            </a>
                        </li>
                        <li class="nav-item nav-item-has-subnav active open">
                            <a href="javascript:void(0)"><i class="mdi mdi-car"></i>车辆借还</a>
                            <ul class="nav nav-subnav">
                                <li class="active"><a href="borrowCar.html">借车</a></li>
                                <li><a href="returnCar.html">还车</a></li>
                            </ul>
                        </li>
                        <li class="nav-item nav-item-has-subnav">
                            <a href="javascript:void(0)"><i class="mdi mdi-traffic-light"></i>违章处理</a>
                            <ul class="nav nav-subnav">
                                <li><a href="undoViolation.html">未处理违章</a></li>
                                <li><a href="historyViolation.html">查看历史违章</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </aside>
    <!--左侧导航END-->

    <!--头部信息栏-->
    <header class="lyear-layout-header">

        <div class="topbar-left">
            <div class="lyear-aside-toggler" id="lyear-aside-toggler">
                <span class="lyear-toggler-bar"></span>
                <span class="lyear-toggler-bar"></span>
                <span class="lyear-toggler-bar"></span>
            </div>
            <span class="navbar-page-title"> 车辆借还-借车 </span>
            <div id="topbar-right">
                <img class="img-avatar img-avatar-48 m-r-10" src="resource/img/user-logo.jpg" alt="用户头像"/>
                <a href="javascript:void(0)" data-toggle="dropdown">
                    <span>{{username}} <span class="caret"></span></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#"><i class="mdi mdi-account"></i> 个人信息</a></li>
                    <li><a href="#"><i class="mdi mdi-lock-outline"></i> 修改密码</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="mdi mdi-logout-variant"></i> 退出登录</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!--    头部信息栏END-->

    <!-- 主要内容   -->
    <main class="lyear-layout-content" style="margin-left: 5%;width: 90%;margin-top: 10px;">
        <div class="row">
            <div class="col-lg-12">
                <!--查勘任务信息-->
                <div class="card">
                    <div class="card-header bg-info">
                        <h4>查勘任务已就绪</h4>
                        <ul class="card-actions">
                            <li><i class="mdi mdi-more"></i></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <th>#</th>
                            <th>事故发生地</th>
                            <th>事故发生时间</th>
                            <th>被保人手机号</th>
                            <th>派车状态</th>
                            </thead>
                            <tr v-for="(value,index) in accidentList">
                                <th scope="row">{{index + 1}}</th>
                                <td>({{value.accidentLocation_x}},{{value.accidentLocation_y}})</td>
                                <td>{{value.accidentTime.toLocaleString()}}</td>
                                <td>{{value.tel}}</td>
                                <td>{{value.status}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!--派车申请流程-->
                <div class="card">
                    <div class="card-header">
                        <h4>派车进度</h4>
                    </div>
                    <div class="card-body">
                        <!--进度导航-->
                        <ul class="nav-step step-anchor">
                            <li class="nav-step-item" id="nav-step1">
                                <a href="#step-1">
                                    <h6>步骤一</h6>
                                    <p class="m-0">系统分配空闲车辆</p>
                                </a>
                            </li>
                            <li class="nav-step-item" id="nav-step2">
                                <a href="#step-2">
                                    <h6>步骤二</h6>
                                    <p class="m-0">生成派车单</p>
                                </a>
                            </li>
                            <li class="nav-step-item" id="nav-step3">
                                <a href="#step-3">
                                    <h6>步骤三</h6>
                                    <p class="m-0">管理员审核</p>
                                </a>
                            </li>
                            <li class="nav-step-item" id="nav-step4">
                                <a href="#step-4">
                                    <h6>步骤四</h6>
                                    <p class="m-0">完成</p>
                                </a>
                            </li>
                        </ul>
                        <!--进度表单内容-->
                        <div v-if="step==1">
                            <h5 style="color: #aaaaaa;font-size: 15px">已找到以下空闲车辆</h5>
                            <table class="table table-striped">
                                <thead>
                                <th>#</th>
                                <th>车牌号</th>
                                <th>车辆状态</th>
                                <th>车辆所在区域</th>
                                </thead>
                                <th scope="row">1</th>
                                <td>浙J888U</td>
                                <td>空闲</td>
                                <td>D区</td>
                            </table>
                            <hr>
                            <div class="nav-step-button">
                                <button class="btn btn-secondary" disabled="true">上一步</button>
                                <button class="btn btn-secondary" @click="nextStep">下一步</button>
                            </div>
                        </div>
                        <div v-if="step==2">
                            <h5 style="color: #aaaaaa;font-size: 15px">已自动生成派车单</h5>
                            <form action="#" method="post" onsubmit="return false;">
                                <div class="form-group">
                                    <label for="carNum">车牌号</label>
                                    <input class="form-control" type="text" id="carNum" name="carNum" value="浙J888U" readonly="readonly">
                                </div>
                                <div class="form-group">
                                    <label for="startTime">出车时间</label>
                                    <input class="form-control" type="text" id="startTime" name="startTime" v-bind:value="new Date().toLocaleString()" readonly="readonly">
                                </div>
                                <div class="form-group">
                                    <label for="taskLocation">任务地点</label>
                                    <input class="form-control" type="text" id="taskLocation" name="taskLocation" value="(11,11)" readonly="readonly">
                                </div>
                                <div class="form-group">
                                    <label for="personNum">查勘人员工号</label>
                                    <input class="form-control" type="text" id="personNum" name="personNum" value="C114514" readonly="readonly">
                                </div>
                            <hr>
                            <div class="nav-step-button">
                                <button class="btn btn-secondary" @click="preStep">上一步</button>
                                <button class="btn btn-primary" type="submit"  @click="nextStep">提交审核</button>
                            </div>
                            </form>
                        </div>
                        <div v-if="step==3">
                            <h5 style="color: #aaaaaa;font-size: 15px">审核状态</h5>
                          <p class="text-center" style="font-weight: bold">审核中,请耐心等待</p>
                            <hr>
                        </div>
                        <div v-if="step==4">
                            <h5 style="color: #aaaaaa;font-size: 15px">审核已完成</h5>
                                <div class="form-group">
                                    <label for="carNum-complete">车牌号</label>
                                    <input class="form-control" type="text" id="carNum-complete" name="carNum" value="浙J888U" readonly="readonly">
                                </div>
                                <div class="form-group">
                                    <label for="startTime-complete">出车时间</label>
                                    <input class="form-control" type="text" id="startTime-complete" name="startTime" v-bind:value="new Date().toLocaleString()" readonly="readonly">
                                </div>
                                <div class="form-group">
                                    <label for="taskLocation-complete">任务地点</label>
                                    <input class="form-control" type="text" id="taskLocation-complete" name="taskLocation" value="(11,11)" readonly="readonly">
                                </div>
                                <div class="form-group">
                                    <label for="personNum-complete">查勘人员工号</label>
                                    <input class="form-control" type="text" id="personNum-complete" name="personNum" value="C114514" readonly="readonly">
                                </div>
                            <hr>
                            <p class="text-center"><button class="btn btn-primary btn-block">打印派车单</button></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </main>


</div>


<script>
    let data = {
        username: "赵子龙",
        accidentList: [
            {
                accidentLocation_x: 11,
                accidentLocation_y: 11,
                accidentTime: new Date("2021/11/28 07:12:12"),
                tel: "13422233335",
                status: "未派车"
            }
        ],
        step: 1
    };


    var app = new Vue({
        el: "#vue-tpl",
        data: data,
        methods: {
            updateProcess:function (x){
                for(var i=1;i<=4;i++){
                    let eleId="#nav-step"+i;
                    if(i<=x){//active
                        $(eleId).attr("class","nav-step-item active");
                    }else{
                        $(eleId).attr("class","nav-step-item");
                    }
                }
            },
            preStep:function (){
                data.step--;
                this.updateProcess(data.step);
            },
            nextStep:function (){
                data.step++;
                this.updateProcess(data.step);
            }
        }
    })

    $(function (){
        let x=data.step;
        for(var i=1;i<=4;i++){
            let eleId="#nav-step"+i;
            if(i<=x){//active
                $(eleId).attr("class","nav-step-item active");
            }else{
                $(eleId).attr("class","nav-step-item");
            }
        }
    });


</script>

</body>
</html>